<div class="container">

    <h1 class="mt-3">System List</h1>
    <div class="d-flex justify-content-end mt-3">
      <a [routerLink]="['/admin/systems/add']" class="btn btn-primary">Add System</a>
    </div>
    <ng-container *ngIf="systems$ | async as systems">
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
             <th>System ID</th>
            <th>System Name</th>
            <th>System Details</th>
            <th>Controller ID </th>
            <th>Controller Name </th>
             <th>
              Action
             </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let system of systems">
            <td>{{system.id}}</td>
            <td>{{system.name}}</td>
            <td>{{system.systemDetails}}</td>
            <td>{{system.responsbleManagement}}</td>
            <td>    
             {{ system.responsbleManagementNavigation.firstName}}             
            </td>
            <td>
            <td>
              <a class="btn btn-light" [routerLink]="['/admin/systems', system.id]">Edit</a>
            </td>
           
           
          </tr>
        </tbody>
      </table>
    </ng-container>


  </div>
  